<%- include("./include/header") %>
   
<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="bg-dark py-3">
                <h3 class="text-white text-center">Todo App</h3>
            </div>
        </div>
    </div>
    <div class="col-md-8 offset-2 mt-5">
        <div class="row">
            <form action="/add/todo" class=" d-flex justify-content-center align-center">
                <input type="text" name="todo" id="todo" class="me-2 form-control" placeholder="Enter Todo">
                <button type="submit" class="btn btn-sm btn-dark"><i class="fas fa-plus fs-lg"></i></button>
            </form>
        </div>
    </div>
</div>

<%- include("./include/footer") %>
