<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- <script>
    function togglelinethrough() {
        const label = document.getElementById('todo-label');
        if (document.getElementById('todo-checkbox').checked) {
            label.classList.add('line-through');
        } else {
            label.classList.remove('line-through');
        }
    }
</script> -->
<script>
    function togglelinethrough(checkbox) {
        const label = checkbox.nextElementSibling;
        if (checkbox.checked) {
            label.classList.add('line-through');
        } else {
            label.classList.remove('line-through');
        }
    }
</script>
</body>

</html>